body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @Incomplete - shouldn't need to put this here but the background image of the landing tile is messed up */
body {
  background-color: #730073;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
